@import './utils/variables';

@import './components/header';
@import './components/logo';

@import './components/hero';
@import './components/modal';

@import './components/features';

@import './components/about-us';

@import './components/our-team';

@import './components/clients';

@import './components/footer';
@import './components/footer-contacts';
@import './components/footer-mailing';
@import './components/footer-social';

@import './components/portfolio-main';
