/* -----------------------------Контактные данные футер-------------------------*/
.footer {
  &-contact {
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--style-for-footer-contacts);
    margin-bottom: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .adress {
    color: var(--white-color);
  }
  &-contact:hover,
  &-contact:focus {
    color: var(--accent-color);
  }

  &-left {
    margin-right: 70px;
  }
  &-item {
    margin-bottom: 9px;
  }
  &-item:last-child {
    margin-bottom: 0;
  }
}
