/* ----------------------------------------------------------Секция наша команда --------------*/

.team {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;

  text-align: center;
  justify-content: center;
  margin-bottom: 30px;

  @media screen and(min-width:1200px) {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 50px;
  }

  &-section {
    // padding-bottom: 94px;
    padding: 60px 0;
  }
  &-list {
    @media screen and(min-width:768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      margin-top: calc(-1 * var(--size-margin-one));
      margin-left: calc(-1 * var(--size-margin-one));
    }
  }
  &-item {
    margin: 0 auto;
    margin-top: var(--size-margin-one);
    @media screen and(min-width:768px) and (max-width: 1199px) {
      margin-left: var(--size-margin-one);
      margin-top: var(--size-margin-one);
      flex-basis: calc(100% / 2 - var(--size-margin-one));
    }
    @media screen and(min-width: 1200px) {
      margin-left: var(--size-margin-one);
      margin-top: var(--size-margin-one);
      flex-basis: calc(100% / 4 - var(--size-margin-one));
    }
  }

  &-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;

    text-align: center;
  }
  /* Текст секции */
  &-text {
    font-size: 16px;
    line-height: 1.2;

    text-align: center;
    margin-top: 10px;
    color: #00d9ff;
  }
}
.card {
  background:inherit;
  box-shadow: 0 10px 20px rgb(14, 36, 56);
  border-radius: 25px;

  &-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &-social-list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }

  &-social-item + .card-social-item {
    margin-left: 10px;
  }
  &-social-icon {
    fill: currentColor;
  }
  &-social-link {
    width: 44px;
    height: 44px;
    background: linear-gradient(128deg, rgba(121, 9, 96, 0.9587185215883228) 10%, rgba(247, 0, 255, 0.7570378493194152) 86%);
    @extend %center;
    justify-content: center;

    border-radius: 50%;

    color: #afb1b8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-social-link:hover,
  &-social-link:focus {
    color: var(--white-color);
    background: linear-gradient(128deg, rgba(214, 155, 201, 0.9587185215883228) 10%, rgba(247, 0, 255, 1) 86%);
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
      box-shadow: 10px 10px 25px 10px #bd0df3, -10px -10px 30px 10px rgb(50, 168, 241);
  }
}
.card-team_image {
  width: 450px;
  @media screen and(min-width:768px) {
    width: 354px;
  }
  @media screen and(min-width:1200px) {
    width: 270px;
  }
}
